# Zig
.zig-cache/
zig-out/
zig-pkg/

# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb

# Generated API docs and meta
meta/
API.md
API.norg

# makepkg artifacts
pkg/
/src/
*.pkg.tar.zst
*.pkg.tar.xz
*.log
duckwm-git/

# Editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
